---
manufacturers:
  - "!create_or_update:name": "{{ manufacturer }}"
    description: "{{ manufacturer }} Systems"
    platforms:
      - "!create_or_update:name": "CISCO IOS"
        manufacturer_name: "{{ manufacturer }}"
        network_driver: "cisco_ios"

locations:
  - "!create_or_update:name": "Greece"
    location_type__name: "Region"
    status__name: "Active"
    children:
      {% for i in range (0, 4) %}
      - "!create_or_update:name": "ATH{0{i}}"
        location_type__name: "Site"
        status__name: "Active"
      {% endfor %}

